
.title{
    padding: 10px;
    margin: 0px;
}
.table {
  width: 100%;
  .tbody {
    width: 100%;

    .tr {
      padding: 10px;
      border-bottom: 1px solid #ccc;

      td {
        /* background-color: red; */
        border-bottom: 2px solid #ccc;
      }

      .ingredient {
        padding: 10px;
      }

      .amount {
        padding: 10px;
        text-align: right;
      }

      .unit {
        padding: 10px;
      }
    }
  }
}
