.title {
  margin: 0px;
}
.table {
  border-collapse: collapse;
  .tbody {
    .tr {
      padding: 10px;

      td {
        border-bottom: 2px solid #ccc;
      }

      .check {
        width: 15px;
        margin: 0;
        line-height: 0;

        input {
          margin: 0;
          width: 20px;
          height: 20px;
        }
      }

      .ingredient,
      .unit,
      .amount {
        padding: 10px;
      }

      .amount {
        text-align: right;
      }
    }
  }
}
