


form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 95%;
    max-width: 800px;
    margin: 0 auto;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px var(--border);
    background-color: var(--foreground);
    color: var(--text);
    max-width: 800px;
}

input{
    padding: 5px;
    border-radius: 5px;
    border: 1px solid var(--border);
    background-color: var(--foreground);
    color: var(--text);
}

button{
    padding: 5px;
    border-radius: 5px;
    border: 1px solid var(--border);
    background-color: var(--foreground);
    color: var(--text);
}
